.header {
    width: 80vw;
    height: 10vh;
    padding: 20px;

    background-color: #7de3fd;

    .header__user {
        position: relative;
        display: flex;
        justify-content: end;
        cursor: pointer;

        & > * {
            margin-right: 10px;
        }

        .header__usericon {
            
            i {
                width: 30%;
            }

            img {
                display: flex;
                align-items: center;
                margin-left: 67%;
                width: 35%;
                border-radius: 50%;
            }
        }

        .header__username {
            font-size: 17px;
            display: flex;
            text-align: center;
            align-items: center;
            margin-left: 5px;
    
            i {
                margin-top: 3px !important;
                margin-left: 10px !important;
            }
        }

        .header__list {
            background-color: rgb(255, 250, 250);
            //border: 1px solid black;
            position: absolute;
            top: 30px;
            right: 5px;
            display: none;
            
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px 20px;

                    &:hover {
                        background-color: rgb(230, 228, 228);
                    }

                    i {
                        margin-right: 10px;
                    }
                }
            }
        }

        .header__list__show {
            display: block;
        }
    }

    
}